    /* @media (prefers-color-scheme: dark) { */
        body {
            background: #1a1a1a;
            color: #ddd;
        }
        #srclink {
            color: #35b;
        }
        #srclink:visited {
            color: #939;
        }
        .now-indicator {
            background: #1a1a1a;
        }
        .stream-link {
            color: #999;
        }
        .stream-link.live {
            color: #f66;
        }
        .timeline {
            color: #eef;
        }
        .timeline-span.placeholder { background: #815757 }
        .timeline {background: #3d3b3e}
        .timeline-span {background: #2f3c66}
        .channel-timeline:nth-child(odd) .timeline-span.placeholder { background: #815b5b }
        .channel-timeline:nth-child(odd) .timeline {background: #4a484a}
        .channel-timeline:nth-child(odd) .timeline-span {background: #584377}

        .timeline-gridline {
            border-left-color: rgba(0, 0, 0, 0.3);
        }
        .timeline-gridline.major {
            border-left-color: rgba(0, 0, 0, 0.6);
        }
    /* } */