body {
    background: #000;
    color: #ddd;
}
#srclink {
    color: #35b;
}
#srclink:visited {
    color: #939;
}
.now-indicator {
    background: #000;
}
.stream-link {
    color: #999;
}
.stream-link.live {
    color: #f66;
}
.timeline {
    color: #eef;
}
.timeline-span.placeholder { background: #815757 }
.timeline {background: #212124}
.timeline-span {box-sizing: border-box; background: #212124; border: 1px solid #5b22e3; border-radius:4px;}
.channel-timeline:nth-child(odd) .timeline-span.placeholder { background: #815b5b }
.channel-timeline:nth-child(odd) .timeline {background: #2e2e35}
.channel-timeline:nth-child(odd) .timeline-span {background: #2e2e35; border: 1px solid #9147ff}

.timeline-gridline {
    border-left-color: rgba(0, 0, 0, 0.3);
}
.timeline-gridline.major {
    border-left-color: rgba(0, 0, 0, 0.6);
}