body {
    background: #000;
    color: #ddd;
}
#srclink {
    color: #47d;
}
#srclink:visited {
    color: #b39;
}
.now-indicator {
    background: #000;
}
.stream-link {
    color: #999;
}
.stream-link.live {
    color: #f02;
    font-weight: bold;
}
.timeline {
    color: #eef;
}
.timeline-span.placeholder { background: inherit; border: 1px solid #e03; }
.timeline {background: #212124}
.timeline-span {box-sizing: border-box; background: inherit; border: 1px solid #5b22e3; border-radius:4px;}
.channel-timeline:nth-child(odd) .timeline-span.placeholder { background: inherit; border: 1px solid #f00; }
.channel-timeline:nth-child(odd) .timeline {background: #2e2e35}
.channel-timeline:nth-child(odd) .timeline-span {background: inherit; border: 1px solid #9147ff}

.timeline-gridline {
    border-left-color: rgba(0, 0, 0, 0.3);
}
.timeline-gridline.major {
    border-left-color: rgba(0, 0, 0, 0.6);
}